:root {
    --color-light: #e0e0e0;
    --color-black: #000;
    --color-blue: #336799;
    --color-white: #fff;
    --color-background-white: #fff;
    --back: #ffffff9c;
}

.dark-theme {
    --color-light: #000;
    --color-black: #e0e0e0;
    --color-blue: #336799;
    --color-background-white: #1f1f1f;
    --back: #000000af;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.flex-div {
    display: flex;
    align-items: center;
}

.entrance {
    width: 100%;
    height: 641px;
    background-image: url(../img/infinite-loop-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.entrance .nav {
    height: 60px;
    width: 100%;
    padding: 0 9%;
    justify-content: space-between;
    background-color: transparent;
}

.entrance .nav .left p {
    font-size: 1.6rem;
    font-weight: 600;
}

.entrance .nav p {
    color: #e0e0e0;
}

.entrance .nav a:hover p {
    color: #fff;
}

.entrance .nav .right a {
    margin-right: 30px;
}

.entrance .nav .right button {
    background: none;
    border: none;
}

.entrance .nav .right button i{
    color: #e0e0e0; 
    font-size: 1.6rem;
}

.entrance .nav .right button:hover i {
    color: #fff;
    cursor: pointer;
}

.entrance .info {
    text-align: center;
    padding: 100px 0 0 0;
    height: 581px;
    display: block;
}

.entrance .info h1 {
    color: #fff;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 10px;
}

.entrance .info p {
    color: #e0e0e0;
    margin-bottom: 5px;
}

.entrance .info i {
    margin-top: 270px;
    font-size: 3.5rem;
    padding: 10px 15px;
    background-color: #336799;
    color: #fff;
}

.entrance .info a:hover i  {
    background-color: #33557a;
}

/* ------------------- Gallery ------------------- */

.gallery {
    width: 100%;
    background-color: var(--color-background-white);
    align-items: center;
    text-align: center;
    padding: 5% 9%;
}

.gallery .text {
    margin-bottom: 60px;
}

.gallery .text h1 {
    color: var(--color-blue);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.gallery .text p {
    line-height: 30px;
    color: var(--color-black);
}

.hover {
    width: 18.5%;
    transition: all 10000ms ease; 
}

.imgs {
    display: flex;
    justify-content: space-between;
}

.imgs img {
    width: 100%;
}

.hover .description {
    width: 100%;
    height: 310px;
    position: relative;
    margin-top: -311px;
    background-color: var(--back);
    font-size: 17px;
    font-weight: 600;
    text-align: start;
    padding: 230px 10px 0;
    color: #336799;
    display:none;
    transition: all 300ms ease; 
}
/* ------------------ Contact Us ------------------ */

.contact {
    background-image: url(/assets/img/infinite-loop-03.jpg);
    padding: 5% 9% 0;
}

.contact .text {
    margin-bottom: 60px;
    text-align: center;
}

.contact .text h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact .text p {
    line-height: 30px;
    color: #e0e0e0;
}

.contact .form {
    display: flex;
    justify-content: space-between;
}

.contact .form .left {
    width: 46%;
}

.contact .form .left input {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #fff;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    padding: 0 20px;
    color: #fff;
}

.contact .form .left input::placeholder {
    color: #e0e0e0;
}

.contact .form .left .textarea::placeholder {
    color: #e0e0e0;
    font-size: 1rem;
}

.contact .form .left .textarea {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #fff;
    height: 140px;
}

.contact .form .left button {
    width: 120px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #336799;
    color: #e0e0e0;
}
.contact .form .left button:hover {
    background-color: #33557a;
    color: #fff;
    cursor: pointer;
}

.contact .form .right {
    width: 46%;
}

.contact .form .right div {
    margin-bottom: 30px;
    color: #fff;
    transition: 50ms color;
}

.contact .form .right div:hover {
    color: #336799;
    cursor: pointer;
}

.contact .form .right div i {
    font-size: 1.6rem;
    margin-right: 20px;
}

.contact .footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    letter-spacing: 0.5px;
}